---
Checks: 'bugprone-*,performance-*,-performance-move-const-arg,-performance-unnecessary-value-param'
AnalyzeTemporaryDtors: false
FormatStyle: none
WarningsAsErrors: 'performance-*,bugprone-*,-bugprone-easily-swappable-parameters'
